pkgbase = etcher-dnr
	pkgdesc = Etcher image flasher using shared dnr and system desktop libraries (experimental Linux port)
	pkgver = 2.1.7
	pkgrel = 1
	url = https://github.com/balena-io/etcher
	arch = x86_64
	license = Apache-2.0
	checkdepends = xz
	makedepends = nodejs>=22.13
	makedepends = pnpm>=11
	makedepends = dnc>=0.4.0
	makedepends = pkgconf
	makedepends = python
	depends = dnr>=0.4.0
	depends = cef
	depends = gtk3
	depends = glib2
	depends = util-linux-libs
	depends = udisks2
	depends = polkit
	depends = zenity
	depends = xdg-utils
	depends = libnotify
	depends = systemd-libs
	depends = systemd
	options = !strip
	options = !debug
	options = staticlibs
	options = libtool
	options = !purge
	options = emptydirs
	source = etcher-bfcfafd32e3628fccf924c8d17fcdb56e4ade989.tar.gz::https://codeload.github.com/balena-io/etcher/tar.gz/bfcfafd32e3628fccf924c8d17fcdb56e4ade989
	source = etcher-dnr-port.tar.gz
	source = etcher-dnr
	source = etcher-dnr.desktop
	sha256sums = ca4983d81dbe4cdd5f04b93b806fe177a32395bd85a9c4b12f44ef7a26167f35
	sha256sums = 7ae449e359e77125b7f97bb81cbe2c11e2011824882bfed15d727a73f89660a7
	sha256sums = c3098db5b878a1a4624e30d9434fcbb484fbbe517c03a718d7d518a9371bf83f
	sha256sums = 564682b555b50bfa9e26bc9afd2faaa51a9fec7854f05a64ceb9b75fd266a674

pkgname = etcher-dnr
