[Desktop Entry]
Type=Application
Name=balenaEtcher (dnr)
Comment=Flash and verify operating system images
Exec=etcher-dnr %u
Icon=etcher-dnr
Terminal=false
Categories=Utility;System;
StartupNotify=true
StartupWMClass=io.balena.etcher.dnr
MimeType=application/x-cd-image;application/x-raw-disk-image;x-scheme-handler/etcher;
